.custom-accordion-title {
    position: relative;
    height: 30px;
    z-index: 2;
    background-color: #444;
    border-radius: 6px;
}

.custom-accordion-title-content {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    z-index: 2;
    position: absolute;
    background-color: inherit;
    border-radius: 4px;
    transition: 0.2s;
}

.custom-accordion-title-content:hover {
    background-color: #777;
}

.side-menu {
    z-index: 1;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid white;
    overflow: hidden;
    transition: 0.2s;
    top: -2px;
}

.accordion-wrapper-item.closed-visible .side-menu,
.accordion-wrapper-item.closing .side-menu,
.accordion-wrapper-item.closed .side-menu {
    left: -2px;
}

.accordion-wrapper-item.opening .side-menu,
.accordion-wrapper-item.opened .side-menu {
    left: calc(100% + 5px);
}

.side-menu .icon-container {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.side-menu .icon-container:hover {
    background-color: #777;
}

.side-menu .icon-container:active {
    background-color: #999;
}

.side-menu .icon-container .icon {
    transition: 0.2s;
    width: 18px;
    height: 18px;
}

.side-menu .icon-container:active .icon {
    transform: scale(0.8);
}
