.accordion-textarea {
    width: calc(100% - 10px);
    height: calc(100% - 14px);
    padding: 5px;
    border: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    resize: none;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    overflow: hidden;
}

.accordion-wrapper-item.opened .accordion-textarea {
    overflow: auto;
}

.accordion-wrapper-item.opening .custom-accordion-expanded,
.accordion-wrapper-item.opened .custom-accordion-expanded {
    height: 110px !important;
}

.accordion-textarea:hover {
    background-color: #666;
}

.accordion-textarea:focus {
    background-color: #555;
}

.custom-accordion-expanded {
    padding: 0 0 !important;
    overflow: hidden !important;
}

.indicator-icon {
    transition: 0.25s;
    margin-right: 5px;
}

.accordion-wrapper-item.opening .indicator-icon,
.accordion-wrapper-item.opened .indicator-icon {
    transform: rotateX(180deg);
}
