
.item-wrapper {
    width: 100%;
    border: 2px solid lavenderblush;
    border-radius: 6px;
    margin-bottom: 5px;
    color: lavenderblush;
}

.item-content {
    height: 20px;
    padding: 5px;
    transition: 0.2s;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.item-content:hover {
    background-color: #777;
}

.item-wrapper.opened .item-content {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.item-expanded-content {
    text-overflow: clip;
    transition: 0.35s;
    overflow-y: hidden;
}

.item-wrapper.closed-visible .item-expanded-content,
.item-wrapper.closing .item-expanded-content,
.item-wrapper.closed .item-expanded-content {
    height: 0px;
    padding: 0 5px;
}

.item-wrapper.opening .item-expanded-content,
.item-wrapper.opened .item-expanded-content {
    height: 100px;
    padding: 5px;
}

.item-wrapper.opened .item-expanded-content {
    overflow-y: auto !important;
}
