.accordion {
    width: calc(100% - 10px);
}
.accordion-wrapper-item {
    width: 100%;
    border: 2px solid lavenderblush;
    border-radius: 6px;
    margin-bottom: 5px;
    color: lavenderblush;
}

.accordion-title {
    height: 20px;
    padding: 5px;
    transition: 0.2s;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.accordion-title:hover {
    background-color: #777;
}

.accordion-wrapper-item.opened .accordion-title {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.accordion-expanded {
    text-overflow: clip;
    transition: 0.35s;
    overflow-y: hidden;
}

.accordion-wrapper-item.closed-visible .accordion-expanded,
.accordion-wrapper-item.closing .accordion-expanded,
.accordion-wrapper-item.closed .accordion-expanded {
    height: 0px;
    padding: 0 5px;
}

.accordion-wrapper-item.opening .accordion-expanded,
.accordion-wrapper-item.opened .accordion-expanded {
    height: 100px;
    padding: 5px;
}

.accordion-wrapper-item.opened .accordion-expanded {
    overflow-y: auto !important;
}
