.accordion-wrapper-item {
    width: 300px;
    border: 2px solid lavenderblush;
    border-radius: 6px;
    margin-bottom: 5px;
    color: white;
}

.accordion-title {
    padding: 5px;
    transition: 0.2s;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.accordion-title:hover {
    background-color: #777;
}

.accordion-wrapper-item.expanded .accordion-title {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.accordion-expanded {
    overflow-y: auto;
    text-overflow: clip; 
}

.accordion-wrapper-item.collapsed .accordion-expanded {
    height: 0px;
    transition: 0.35s;
    padding: 0 5px;
}

.accordion-wrapper-item.expanded .accordion-expanded {
    height: 100px;
    transition: 0.35s;
    padding: 5px;
}
